body{
	background-color: #d3d3d3;
	font-family: "Montserrat", "Avenir";
	margin: 0;
}


h1{
	color: #F5EFED;
	text-align: center;
	background-color: #2292A4;
	margin: 0;
	padding: 20px;
	text-transform: uppercase;


}

button {
	height: 100%;
	outline: none;
	background-color: #F5EFED;
	border: none;
	text-transform: uppercase;
	transition: all, .3;
	-webkit-transition: all, .3s;
	-moz-transition: all, .3s;
	color: #2292A4;
	font-weight: 700;
	font-size: inherit;
}
button:hover{
	background-color: #2292A4;
	color: #F5EFED;
}

#stripe{
	background-color: #F5EFED;
	height: 30px;
	text-align: center;

}

#container {
	max-width: 600px;
	margin: 25px auto;
}
#gameMode{
	font-size: 200%;
}
#message{
	display: inline-block;
	width: 20%;
}
.circle{
	width: 30%;
	padding-top: 25%;
	float: left;
	margin: 1.66%;
	background-color: #F5EFED;
	border-radius: 5000px;
	transition: background-color, .6s;
	-webkit-transition: background-color, .6s;
	-moz-transition: background-color, .6s;
}
.selected{
	background-color: #2292A4;
	color: #F5EFED;
}

#container2{

	width: 70%;
	height: 725px;
	margin: 25px auto;

	background-color: #242F40;
	border-radius: 25px;


	padding: 0;
}
